@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass";
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-image: linear-gradient(
    to bottom,
    hsla(213, 19%, 18%, 70%),
    hsla(213, 19%, 18%, 40%)
  );
  width: 325px;
  height: 355px;
  border-radius: 15px;
  padding: 1.5rem;
  gap: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card span {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.card p {
  color: hsla(216, 12%, 54%, 70%);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

p.selected-rating {
  color: hsl(25, 97%, 53%);
  background: hsla(216, 12%, 54%, 10%);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

/* IMAGE */
.illustration-thank-you {
  width: 175px;
}
